body {
    font-family: "Pretendard Variable-Medium", Helvetica;
}

/*상단배너*/
.main-container {
    width: 100%;
}

.article-banner {
    width: 100%;
    height: auto;
    max-height: 900px;
    min-height: 762px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.article-banner-text {
    font-size: 4vw;
    color: #fff;
}

@media (max-width: 768px) {
    .article-banner-text {
        padding: 0 5% 0 5%;
        font-size: 10vw;
    }
}

/*크리에이터&매장 프로필 영역*/
.profile-container {
    display: flex; /* 플렉스박스를 사용하여 자식 요소를 가로로 정렬 */
    justify-content: center; /* 가로로 자식 요소들을 가운데 정렬 */
    align-items: center; /* 세로로 자식 요소들을 가운데 정렬 */
    width: 50%;
    height: auto;
    min-height: 480px;
    margin: 0 auto; /* 전체 컨테이너 수평 가운데 정렬 */
    margin-top: 5vw;
    padding: 50px 0 50px 0;
    text-align: center;
    border-top: solid 2px #000;
    border-bottom: solid 2px #000;
}

.profile-image-area {
    width: 30%;
    display: flex;
    justify-content: center; /* 이미지 수평 가운데 정렬 */
    align-items: center; /* 이미지 수직 가운데 정렬 */
}

.profile-text-area {
    width: 70%;
    display: flex;
    flex-direction: column; /* 텍스트와 배지가 세로로 쌓이게 설정 */
    justify-content: center; /* 텍스트를 세로로 가운데 정렬 */
    padding : 0 10% 0 10%;
    text-align: center; /* 텍스트 가운데 정렬 */
}

.profile-text-title {
    font-size: 1.1vw;
    font-weight: 500;
    margin-bottom: 1%;
}

.profile-text-subtitle {
    font-size: 1.4vw;
    font-weight: 600;
}

.profile-text {
    font-size: 0.9rem;
}

.profile-image {
    max-width: 255px;
    max-height: 255px;
}

.profile-text {
    font-size: 1.0rem;
}

/*프로필 SNS아이콘*/
.sns-img-container {
    margin-top: 20px;
}

/*프로필 태그 뱃지*/
.badge-container {
    width: 100%;
    margin-top: 30px;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 가로 가운데 정렬 */
    flex-wrap: wrap; /* 범위를 벗어날 경우 줄바꿈 */
    gap: 5px; /* 배지들 사이에 여백 추가 */
}

.badge-container h6 {
    margin: 0; /* h6 태그의 기본 여백 제거 */
}

.badge {
    display: inline-block;
    padding: 5px 10px;
    margin: 2px;
    background-color: #f0f0f0; /* Light grey background */
    border: 1px solid #ccc; /* Light grey border */
    font-size: 14px;
    color: #000; /* Black text color */
}

@media (max-width: 768px) {
    .profile-container {
        margin-top: 20vw;
        width: 85%;
        flex-direction: column; /* 모바일에서는 세로 정렬 */
        align-items: center; /* 세로로 가운데 정렬 */
    }

    .profile-text-area {
        width: 100%;
        padding :0;
        margin-top: 10vw;
    }

    .profile-text-title {
        font-size: 3vw;
        font-weight: 500;
        margin-bottom: 1%;
    }
    
    .profile-text-subtitle {
        font-size: 5vw;
        font-weight: 600;
    }

    .profile-image > img{
        min-width: 210px;
        min-height: 210px;
    }
}


/*본문영역*/
.content-area {
    width: 50%;
    margin: 0 auto;
    margin-top: 8vw;
}

.article-from-area {
    width: 50%;
}

/*좋아요 스크랩 공유하기 영역*/
.share-icon-area {
    width: 50%;
    margin: 0 auto;
}

.share-icon-area ul {
    width: 100%;
    list-style: none; /* ul 기본 리스트 스타일 제거 */
    padding: 0;
    margin: 0;
    display: flex;
    gap: 20px; /* 아이템 간격 조정 */
}

.share-icon-area ul li {
    display: inline-block;
}

.article-from {
    display: flex;
    margin-top: 1vw;
}

.article-from-item-title {
    width: 10%;
}

.article-from-item {
    width: 60%;
}

@media (max-width: 768px) {
    .content-area {
        width: 85%;
        margin: 0 auto;
        margin-top: 20vw;
    }

    .content-area > p > img {
        max-width: 100%
    }

    .share-icon-area ul {
        display: flex; /* 모바일 화면에서는 세로로 배치 */
        gap: 10px; /* 세로 간격 조정 */
        align-items: center; /* 세로 정렬 시 중앙 정렬 */
    }

    .article-from {
        width: 100%;
        display: flex;
        justify-content: left;
        margin-top: 5vw;
    }

    .article-from-item-title {
        width: 20%;
    }

    .article-from-item {
        width: 60%;
    }

    .share-icon-area {
        width: 85%;
        margin: 0 auto;
    }

    .share-icon-area > div > p {
        width: 90%;
    }
}

/*이벤트배너 영역*/
.event-banner-area {
    display: flex;
    text-align: center;
    margin-top: 10vw;
    width: 100%;
    height: auto;
    background-color: lightgray;
}

.event-banner-img-area {
    text-align: right;
    width: 60%;
    margin: 0 auto;
}

.event-banner-img-area > img {
    width: auto;
    height: 100%;
}

.event-banner-text-area {
    /* margin-left: 2vw; */
    display: flex;
    flex-direction: column; /* 요소들을 수직으로 정렬 */
    align-items: center; /* 가로 방향 정렬: 가운데 */
    justify-content: center; /* 세로 방향 정렬: 가운데 */
    width: 100%;
}

.event-banner-text > a{
    margin-top: 3vw;
    border-radius: 0;
    font-size: 1rem;
    width: 9vw;
    height: 2.5vw;
    display: flex;
    justify-content: center; /* 이미지 수평 가운데 정렬 */
    align-items: center; /* 이미지 수직 가운데 정렬 */
}

@media (max-width: 768px) {
    .event-banner-area {
        display: block;
        margin-top: 20vw;
        width: 100%;
        height: auto;
        padding: 7% 5% 3% 5%;
        background-color: lightgray;
    }

    .event-banner-img-area {
        width: 95%;
        min-height: 60%;
        margin: 0 auto;
    }

    .event-banner-img-area > img {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }

    .event-banner-text-area {
        text-align: center;
        width: 90%;
        margin: 0 auto;
    }

    .event-banner-text > a{
        margin: 0 auto;
        margin-top: 15vw;
        border-radius: 0;
        width: 40vw;
        height: 10vw;
        display: flex;
        justify-content: center; /* 이미지 수평 가운데 정렬 */
        align-items: center; /* 이미지 수직 가운데 정렬 */
    }
}

/*연관콘텐츠 영역*/
.relation-content-area {
    margin-top: 10vw;
    width: 100%;
    text-align: center;
}

.relation-content-title {
    width: 15%;
    margin: 0 auto;
    border-bottom: solid 4px #000;
    font-size: 1.4rem;
    padding-bottom: 5px;
}

@media (max-width: 768px) {
    .relation-content-area {
        margin-top: 30vw;
    }

    .relation-content-title {
        width: 60%;
        margin: 0 auto;
        border-bottom: solid 7px #000;
        font-size: 1.4rem;
        padding-bottom: 5px;
    }
}

/* Swiper 카드 슬라이드 스타일 */
.swiper-slide {
    display: flex;
    justify-content: center; /* 카드 가운데 정렬 */
    align-items: center; /* 카드 가운데 정렬 */
    padding: 10px; /* 카드 간격 조정 */
}

/* 카드 스타일 */
.card {
    width: 100%;
    max-width: 28rem; /* 카드 최대 너비 */
    transition: transform 0.2s ease-in-out;
    border: none; /* 테두리 제거 */
    box-shadow: none; /* 그림자 제거 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 카드 이미지 */
.card-img-top {
    width: 100%;
    height: auto;
}

/* 카드 내용 */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: center; /* 내용 중앙 정렬 */
    padding: 1rem;
}

.card img {
    margin: 0 auto; /* 이미지 중앙 정렬 */
}

.article-truncate {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3; /* 최대 줄 수 */
    overflow: hidden;
    text-overflow: ellipsis;
}

@media (max-width: 768px) {
    .card {
        min-width: 85%;
    }

    .card > img{
        height: auto;
    }
}

/*FIND아이템안내 모달*/
.centered-text-find-item {
    margin: 0 auto;
    width: 50%;
    font-weight: bold;
    font-size: 1.5rem;
    border-bottom: solid 5px #000;
    margin-top: 10%;
    margin-bottom: 10%;
}

.modal-content {
    width: 50%;
}

.find_item_text {
    margin-bottom: 10%;
}

.find_item_text > h5 {
    font-size: 1.1rem;
    font-weight: bold;
    line-height: 2;
    margin-bottom: 10%;
}

.find_item_text > img {
    color: #000;
    cursor: pointer;
}

@media (max-width: 768px) {
    .modal-content {
        width: 100%;
    }
}

.footer-area {
    margin-top: 10vw;
    width: 100%;
}