

.find-title {
    display: flex;
    justify-content: center;
    height: auto;
    font-size: 1.2rem;
    margin-bottom: 10vw;
    margin-top: 7vw;
    font-weight: bold;
}

.find-title-line1 {
    text-align: right;
    border-bottom: solid 3px #000;
    min-height: 2.5vw;
    font-weight: bold;
}

.find-title-line2 {
    text-align: left;
    border-bottom: solid 3px #000;
    min-height: 2.5vw;
    font-weight: bold;
}


.find-title {
    display: flex;
    justify-content: center;
}

.card-title {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-price {
    font-size: 1.1rem;
    font-weight: bold;
}

.card-normal {
    font-size: 1.1rem;
    font-weight: bold;
    color: lightgray;
}

@media (max-width: 768px) {
    .find-title {
        display: block;
        margin-bottom: 20vw;
        margin-top: 15vw;
        font-weight: bold;
    }
    
    .find-title-line1 {
        text-align: center;
        border-bottom: solid 0px #000;
        width: 100%;
        height: 10vw;
        font-size: 1.1rem;
    }
    
    .find-title-line2 {
        text-align: center;
        margin: 0 auto;
        width: 65%;
        font-size: 1.3rem;
        font-weight: bold;
        height: 10vw;
    }
}

.goods-area {
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 한 줄에 3개씩 배치 */
    gap: 20px; /* 아이템 간 간격 */
}

.goods-item {
    width: 100%; /* 아이템이 그리드 셀을 가득 채우도록 설정 */
    box-sizing: border-box;
    margin-bottom: 10vw;
    display: flex; /* Flexbox 사용 */
    justify-content: center; /* 수평 중앙 정렬 */
    align-items: center; /* 수직 중앙 정렬 */
}

/* 카드 스타일 */
.card {
    width: 100%;
    transition: transform 0.2s ease-in-out;
    border: none; /* 테두리 제거 */
    box-shadow: none; /* 그림자 제거 */
    text-align: center; /* 텍스트 중앙 정렬 */
}

/* 카드 이미지 */
.card-img-top {
    width: 100%;
    height: auto;
}

/* 카드 내용 */
.card-body {
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 0 !important;
}

.card img {
    margin: 0 auto; /* 이미지 중앙 정렬 */
}

@media (max-width: 768px) {
    .goods-area {
        width: 100%;
        grid-template-columns: 1fr
    }

    .goods-item {
        width: 100%; /* 아이템이 그리드 셀을 가득 채우도록 설정 */
    }
}
