.menu {
    text-decoration: none;
    align-self: stretch;
    height: 2.25rem;
    position: relative;
    font-weight: 500;
    color: inherit;
    display: inline-block;
    flex-shrink: 0;
  }
  .menu-wrapper {
    width: 4.938rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0.812rem 0 0;
    box-sizing: border-box;
  }
  .icon {
    align-self: stretch;
    height: 1.75rem;
    position: relative;
    max-width: 100%;
    overflow: hidden;
    flex-shrink: 0;
    object-fit: cover;
  }
  .wrapper {
    width: 7.313rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 var(--padding-10xl) 0 0;
    box-sizing: border-box;
  }
  .search-icon,
  .user-icon {
    position: relative;
    overflow: hidden;
    flex-shrink: 0;
  }
  .search-icon {
    height: 1.375rem;
    width: 1.375rem;
    object-fit: contain;
    min-height: 1.375rem;
  }
  .user-icon {
    height: 1.313rem;
    width: 1.313rem;
  }
  .frame-wrapper,
  .search-parent {
    display: flex;
    justify-content: flex-start;
  }
  .search-parent {
    flex-direction: row;
    align-items: flex-end;
    gap: 0.5rem;
  }
  .frame-wrapper {
    flex-direction: column;
    align-items: flex-start;
    padding: 0.437rem 0 0;
  }
  .frame-parent,
  .pc-inner {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    max-width: 100%;
  }
  .frame-parent {
    flex: 1;
    justify-content: space-between;
    gap: var(--gap-xl);
    text-align: left;
    font-size: var(--font-size-base);
    color: var(--color-black);
    font-family: var(--font-pretendard-variable);
  }
  .pc-inner {
    align-self: stretch;
    justify-content: flex-end;
    padding: 0 2.312rem 0 2.375rem;
    box-sizing: border-box;
  }
  .pc-child {
    width: 12rem;
    height: 3.313rem;
    position: relative;
    display: none;
  }
  .div,
  .div1,
  .login {
    position: relative;
    align-items: center;
    flex-shrink: 0;
  }
  .div {
    width: 12rem;
    height: 2.875rem;
    font-weight: 600;
    display: none;
    justify-content: center;
  }
  .div1,
  .login {
    align-self: stretch;
    display: flex;
  }
  .login {
    height: 3.563rem;
    font-weight: 800;
    justify-content: center;
  }
  .div1 {
    height: 2.875rem;
    font-weight: 600;
  }
  .frame-child {
    width: 28.25rem;
    height: 3.5rem;
    position: relative;
    background-color: var(--color-whitesmoke);
    max-width: 100%;
  }
  .div2 {
    align-self: stretch;
    height: 2.875rem;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    flex-shrink: 0;
  }
  .frame-item {
    width: 28.25rem;
    height: 3.5rem;
    position: relative;
    background-color: var(--color-whitesmoke);
    max-width: 100%;
  }
  .group {
    align-self: stretch;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0.625rem;
  }
  .frame-div,
  .group,
  .parent {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .parent {
    width: 41.5rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1.062rem;
  }
  .frame-div {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
    padding: 0 0 1.937rem;
    box-sizing: border-box;
  }
  .frame-inner {
    height: 3.313rem;
    width: 13.625rem;
    position: relative;
    display: none;
  }
  .div3 {
    height: 2.875rem;
    flex: 1;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
  }
  .vector-parent {
    flex: 1;
    background-color: var(--color-black);
    border: 0 solid var(--color-black);
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 var(--padding-9xs);
    min-width: 8.875rem;
    z-index: 2;
  }
  .rectangle-icon {
    height: 3.313rem;
    width: 13.625rem;
    position: relative;
    display: none;
  }
  .div4 {
    height: 2.875rem;
    flex: 1;
    position: relative;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  .frame-parent1,
  .frame-wrapper1,
  .vector-group {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
  }
  .vector-group {
    flex: 1;
    background-color: var(--color-black);
    border: 0 solid var(--color-black);
    box-sizing: border-box;
    justify-content: flex-start;
    padding: var(--padding-10xs) 0 var(--padding-9xs);
    min-width: 8.875rem;
  }
  .frame-parent1,
  .frame-wrapper1 {
    max-width: 100%;
  }
  .frame-parent1 {
    width: 28.25rem;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 1rem;
  }
  .frame-wrapper1 {
    width: 41.375rem;
    justify-content: center;
    padding: 0 var(--padding-xl) 1.062rem;
    box-sizing: border-box;
    text-align: center;
    color: var(--color-white);
  }
  .rectangle-div {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 6.563rem;
    background-color: var(--color-black);
    width: 28.25rem;
  }
  .div5 {
    position: absolute;
    top: 0.313rem;
    left: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41.438rem;
    height: 2.875rem;
    z-index: 1;
  }
  .rectangle-parent {
    align-self: stretch;
    height: 3.5rem;
    position: relative;
  }
  .frame-child1 {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 6.563rem;
    background-color: var(--color-black);
    width: 28.25rem;
  }
  .div6 {
    position: absolute;
    top: 0.313rem;
    left: 0;
    font-weight: 600;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 41.438rem;
    height: 2.875rem;
    z-index: 1;
  }
  .rectangle-group {
    align-self: stretch;
    height: 3.5rem;
    position: relative;
  }
  .div7,
  .frame-parent2 {
    display: flex;
    max-width: 100%;
  }
  .frame-parent2 {
    width: 41.438rem;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: var(--gap-30xl);
    text-align: center;
    color: var(--color-white);
  }
  .div7 {
    height: 2.875rem;
    width: 41.5rem;
    position: relative;
    text-decoration: underline;
    font-weight: 600;
    align-items: center;
    flex-shrink: 0;
  }
  .container,
  .frame-group {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .container {
    align-self: stretch;
    flex-direction: row;
    justify-content: flex-end;
  }
  .frame-group {
    width: 48.063rem;
    flex-direction: column;
    justify-content: flex-start;
    gap: var(--gap-30xl);
  }
  .frame-container,
  .login-parent {
    display: flex;
    box-sizing: border-box;
    max-width: 100%;
  }
  .frame-container {
    width: 101.563rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    text-align: left;
    font-size: var(--font-size-xl);
  }
  .login-parent {
    align-self: stretch;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 0 0 1.875rem;
    gap: var(--gap-30xl);
    text-align: center;
    font-size: 1.5rem;
    color: var(--color-black);
    font-family: var(--font-pretendard-variable);
  }
  .check-box-icon {
    width: 2.125rem;
    height: 2.125rem;
    position: relative;
    display: none;
  }
  .group-child {
    position: absolute;
    top: -0.031rem;
    left: -0.031rem;
    border-top: 1px solid var(--color-black);
    box-sizing: border-box;
    width: 108.063rem;
    height: 0.063rem;
  }
  .group-item {
    position: absolute;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    max-height: 100%;
    width: 60.75rem;
    object-fit: cover;
  }
  .line-parent {
    align-self: stretch;
    height: 56rem;
    position: relative;
    display: none;
  }
  .b-1-icon {
    width: 3.981rem;
    height: 1.306rem;
    position: relative;
    object-fit: cover;
    flex-shrink: 0;
  }
  .p {
    margin: 0;
    font-weight: 600;
  }
  .p1 {
    white-space: pre-wrap;
  }
  .p1,
  .p2 {
    margin: 0;
    font-weight: 300;
  }
  .about-newsletter,
  .div8 {
    position: relative;
    line-height: 167%;
  }
  .div8 {
    height: 7rem;
    display: flex;
    align-items: center;
    min-width: 37.375rem;
    max-width: 100%;
  }
  .about-newsletter {
    align-self: stretch;
    font-weight: 900;
    white-space: pre-wrap;
  }
  .about-newsletter-instagram-wrapper,
  .parent1 {
    display: flex;
    align-items: flex-start;
    max-width: 100%;
  }
  .about-newsletter-instagram-wrapper {
    width: 27.188rem;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--padding-10xl) 0 0;
    box-sizing: border-box;
  }
  .parent1 {
    align-self: stretch;
    flex-direction: row;
    justify-content: space-between;
    flex-shrink: 0;
    gap: var(--gap-xl);
  }
  .frame-child2 {
    width: 2.55rem;
    height: 0.375rem;
    position: absolute;
    margin: 0 !important;
    top: 2.988rem;
    left: 0;
    background-color: var(--color-black);
  }
  .b-1-parent {
    width: 91.125rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    gap: 3.068rem;
    max-width: 100%;
  }
  .frame-section,
  .pc {
    display: flex;
    box-sizing: border-box;
    color: var(--color-black);
    font-family: var(--font-pretendard-variable);
  }
  .frame-section {
    width: 105.5rem;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    padding: 0 var(--padding-xl);
    max-width: 100%;
    text-align: left;
    font-size: var(--font-size-base);
  }
  .pc {
    width: 100%;
    position: relative;
    background-color: var(--color-white);
    overflow: hidden;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    padding: 2.875rem 0;
    gap: 13.187rem;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    font-size: var(--font-size-xl);
  }
  @media screen and (max-width: 1100px) {
    .div8 {
      flex: 1;
    }
    .parent1 {
      flex-wrap: wrap;
    }
  }
  @media screen and (max-width: 1025px) {
    .pc {
      gap: 6.563rem;
    }
  }
  @media screen and (max-width: 750px) {
    .frame-parent2 {
      gap: var(--gap-5xl);
    }
    .div8 {
      min-width: 100%;
    }
    .b-1-parent {
      gap: 1.563rem;
    }
  }
  @media screen and (max-width: 450px) {
    .div {
      font-size: var(--font-size-base);
    }
    .login {
      font-size: 1.188rem;
    }
    .div1,
    .div2,
    .div3,
    .div4,
    .div5,
    .div6,
    .div7 {
      font-size: var(--font-size-base);
    }
    .frame-group,
    .login-parent {
      gap: var(--gap-5xl);
    }
    .pc {
      gap: 3.313rem;
    }
  }
  