.group-child {
  position: absolute;
  top: -0.031rem;
  left: -0.031rem;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  width: 108.063rem;
  height: 0.063rem;
}
.group-item {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  max-height: 100%;
  width: 60.75rem;
  object-fit: cover;
}
.line-parent,
.menu {
  align-self: stretch;
  height: 56rem;
  position: relative;
  display: none;
}
.menu {
  text-decoration: none;
  height: 2.25rem;
  font-weight: 500;
  color: inherit;
  display: inline-block;
  flex-shrink: 0;
}
.menu-wrapper {
  width: 4.938rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0.812rem 0 0;
  box-sizing: border-box;
}
.icon {
  align-self: stretch;
  height: 1.75rem;
  position: relative;
  max-width: 100%;
  overflow: hidden;
  flex-shrink: 0;
  object-fit: cover;
}
.wrapper {
  width: 7.313rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-10xl) 0 0;
  box-sizing: border-box;
}
.search-icon,
.user-icon {
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-icon {
  height: 1.375rem;
  width: 1.375rem;
  object-fit: contain;
  min-height: 1.375rem;
}
.user-icon {
  height: 1.313rem;
  width: 1.313rem;
}
.frame-wrapper,
.search-parent {
  display: flex;
  justify-content: flex-start;
}
.search-parent {
  flex-direction: row;
  align-items: flex-end;
  gap: 0.5rem;
}
.frame-wrapper {
  flex-direction: column;
  align-items: flex-start;
  padding: 0.437rem 0 0;
}
.frame-parent,
.pc-inner {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent {
  flex: 1;
  justify-content: space-between;
  gap: var(--gap-xl);
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-pretendard-variable);
}
.pc-inner {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 2.312rem 1.125rem 2.375rem;
  box-sizing: border-box;
}
.check-box-icon {
  width: 2.125rem;
  height: 2.125rem;
  position: relative;
  display: none;
}
.div,
.signup {
  align-self: stretch;
  position: relative;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.signup {
  height: 3.563rem;
  font-size: 1.5rem;
  font-weight: 800;
  justify-content: center;
}
.div {
  height: 2.875rem;
  font-weight: 600;
}
.frame-child {
  width: 100%;
  height: 3.5rem;
  position: relative;
  background-color: whitesmoke;
  max-width: 100%;
  border: 0;
}
.div1,
.parent {
  align-self: stretch;
  display: flex;
}
.parent {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div1 {
  height: 2.875rem;
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
}
.frame-item {
  width: 34.5rem;
  height: 3.5rem;
  position: relative;
  background-color: var(--color-whitesmoke);
  max-width: 100%;
}
.div2,
.group {
  align-self: stretch;
  display: flex;
}
.group {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div2 {
  height: 2.875rem;
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
}
.frame-inner {
  width: 34.5rem;
  height: 3.5rem;
  position: relative;
  background-color: var(--color-whitesmoke);
  max-width: 100%;
}
.container,
.div3 {
  align-self: stretch;
  display: flex;
}
.container {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div3 {
  height: 2.875rem;
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
}
.rectangle-div {
  width: 34.5rem;
  height: 3.5rem;
  position: relative;
  background-color: var(--color-whitesmoke);
  max-width: 100%;
}
.div4,
.frame-div {
  align-self: stretch;
  display: flex;
}
.frame-div {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-3xs);
  max-width: 100%;
}
.div4 {
  height: 2.875rem;
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
}
.frame-child1 {
  width: 34.5rem;
  height: 3.5rem;
  position: relative;
  background-color: var(--color-whitesmoke);
  max-width: 100%;
}
.parent1 {
  align-self: stretch;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-container,
.frame-group,
.parent1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-group {
  width: 500px;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-5xl);
}
.frame-container {
  width: 100%;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
}
.check-box-outline-blank-icon {
  height: 2.063rem;
  width: 2.063rem;
  position: relative;
}
.div5 {
  align-self: stretch;
  position: relative;
  font-weight: 600;
}
.frame {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0.231rem;
  box-sizing: border-box;
  min-width: 24.75rem;
  max-width: 100%;
}
.check-box-outline-blank-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-xl);
  max-width: 100%;
}
.check-box-icon1 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.span {
  font-size: var(--font-size-sm);
}
.span1,
.span2 {
  text-decoration: underline;
}
.div6 {
  align-self: stretch;
  height: 1.288rem;
  position: relative;
  line-height: 1.688rem;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.wrapper1 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0.275rem;
  box-sizing: border-box;
  min-width: 24.75rem;
  max-width: 100%;
}
.check-box-parent,
.frame-parent2 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.check-box-parent {
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  gap: var(--gap-lgi);
}
.frame-parent2 {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.562rem;
}
.check-box-icon2 {
  height: 2.125rem;
  width: 2.125rem;
  position: relative;
}
.span3 {
  font-size: var(--font-size-xl);
}
.div7 {
  align-self: stretch;
  height: 1.119rem;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
  flex-shrink: 0;
  z-index: 2;
}
.wrapper2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 0.443rem;
  box-sizing: border-box;
  min-width: 24.75rem;
  max-width: 100%;
}
.check-box-group {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: flex-start;
  gap: var(--gap-lgi);
  max-width: 100%;
  font-size: var(--font-size-sm);
}
.frame-parent1,
.frame-wrapper1 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.frame-parent1 {
  width: 41.438rem;
  flex-direction: column;
  justify-content: flex-start;
  gap: var(--gap-3xs);
}
.frame-wrapper1 {
  width: 93%;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
  text-align: left;
}
.rectangle-icon {
  height: 3.313rem;
  width: 34.5rem;
  position: relative;
  display: none;
  max-width: 100%;
}
.div8,
.vector-parent,
.vector-parent2 {
  display: flex;
  justify-content: center;
}


.div8 {
  height: 2.875rem;
  width: 10.063rem;
  position: relative;
  font-weight: 600;
  align-items: center;
  flex-shrink: 0;
  z-index: 1;
}
.vector-parent {
  width: 500px;
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.187rem var(--padding-xl) 0.25rem;
  max-width: 100%;
  background-color: black;
  color: white;
}

.vector-parent2 {
  width: 230px;
  margin: 20px;
  border: 0 solid var(--color-black);
  box-sizing: border-box;
  flex-direction: row;
  align-items: flex-start;
  padding: 0.187rem var(--padding-xl) 0.25rem;
  max-width: 100%;
  background-color: black;
  color: white;
}

.frame-wrapper2,
.signup-parent,
.frame-wrapper3,
.frame-wrapper4 {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.frame-wrapper2 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.frame-wrapper3 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.frame-wrapper4 {
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  box-sizing: border-box;
}

.signup-parent {
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  gap: 3.043rem;
  text-align: center;
  font-size: var(--font-size-xl);
  color: var(--color-black);
  font-family: var(--font-pretendard-variable);
}
.b-1-icon {
  width: 3.981rem;
  height: 1.306rem;
  position: relative;
  object-fit: cover;
}
.p {
  margin: 0;
  font-weight: 600;
}
.p1 {
  white-space: pre-wrap;
}
.p1,
.p2 {
  margin: 0;
  font-weight: 300;
}
.about-newsletter,
.div9 {
  position: relative;
  line-height: 167%;
}
.div9 {
  height: 7rem;
  display: flex;
  align-items: center;
  min-width: 37.375rem;
  max-width: 100%;
}
.about-newsletter {
  align-self: stretch;
  font-weight: 900;
  white-space: pre-wrap;
}
.about-newsletter-instagram-wrapper,
.parent2 {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.about-newsletter-instagram-wrapper {
  width: 29rem;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-10xl) 0 0;
  box-sizing: border-box;
}
.parent2 {
  align-self: stretch;
  flex-direction: row;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.frame-child2 {
  width: 2.55rem;
  height: 0.375rem;
  position: absolute;
  margin: 0 !important;
  top: 2.988rem;
  left: 0;
  background-color: var(--color-black);
}
.b-1-parent {
  width: 92.938rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  position: relative;
  gap: 3.068rem;
  max-width: 100%;
}
.pc,
.pc-child {
  display: flex;
  box-sizing: border-box;
}
.pc-child {
  width: 103.688rem;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--color-black);
  font-family: var(--font-pretendard-variable);
}
.pc {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-start;
  padding: 2.875rem 0;
  gap: 15.062rem;
  line-height: normal;
  letter-spacing: normal;
}
@media screen and (max-width: 1125px) {
  .div9 {
    flex: 1;
  }
  .parent2 {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1025px) {
  .pc {
    gap: 7.5rem;
  }
}
@media screen and (max-width: 750px) {
  .div9,
  .frame,
  .wrapper1,
  .wrapper2 {
    min-width: 100%;
  }
  .b-1-parent {
    gap: 1.563rem;
  }
}
@media screen and (max-width: 450px) {
  .signup {
    font-size: 1.188rem;
  }
  .div,
  .div1,
  .div2,
  .div3,
  .div4,
  .div5,
  .div8 {
    font-size: var(--font-size-base);
  }
  .signup-parent {
    gap: var(--gap-5xl);
  }
  .pc {
    gap: 3.75rem;
  }
}
